{% extends "rio/base.html" %}

{% block content %}
        <h2>Event: {{ event.name }}</h2>

{% if entries_open %}
	<h3>Choices:</h3>
	<p>The most popular choices will be shown when entries close!</p>
	
	<h3>Available Swimmers:</h3>
		<div class="row">
			<div class="col-md-9">
				<table class="table table-hover">
				<thead>
					<tr>
						<th>Swimmer</th>
						<th>Country</th>
						<th>Season Best</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
				{% for participant in event.participant_set.all %}
					<tr>
						<td>{{ participant.swimmer }}</td>
						<td>{{ participant.swimmer.country }} </td>
						<td>{{ participant.display_time }}</td> 
						<td>
							{% if participant.status == "Unconfirmed" %}
								<span class="label label-default">Unconfirmed</span>
							{% elif participant.status == "Confirmed" %}
								<span class="label label-success">Confirmed</span>
							{% elif participant.status == "Not swimming" %}
								<span class="label label-danger">Not Swimming</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}

				</tbody>
				</table>
			</div>
		</div>
	
{% else %}

{% if event.scored %}
	<h3>Result:</h3>
	<div class="row">
		<div class="col-md-5">
			<ul class="list-group">
				{% for person in event.gold %}
					<li class="list-group-item"><strong>Gold:</strong> {{ person.swimmer }} ({{ person.swimmer.country }})</li>
				{% endfor %}
				{% for person in event.silver %}
					<li class="list-group-item"><strong>Silver:</strong> {{ person.swimmer }} ({{ person.swimmer.country }})</li>
				{% endfor %}
				{% for person in event.bronze %}
					<li class="list-group-item"><strong>Bronze:</strong> {{ person.swimmer }} ({{ person.swimmer.country }})</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}

{% if not event.relay %}
<h3>World Record:</h3>
<p class="lead">{{ wr_count }} team{{ wr_count|pluralize }} picked this event
	{% if event.wr %}
		<span class="label label-success">WORLD RECORD BROKEN!</span>
	{% endif %}
</p>
{% endif %}

<h3>Most Popular Choices:</h3>
	<div class="row">
		<div class="col-md-10">
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Swimmer</th>
					<th>Status</th>
					<th>Teams (/{{ total_teams }} total)</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
			{% for part, percent in participant_list_percent_zip %}
				{% if part.choice_count > 0 %}
					{% if part in user_pick %}
						<tr class="info">
					{% else %}
						<tr>
					{% endif %}
						<td>
							{{ part.swimmer }} ({{ part.swimmer.country }})
						</td> 
						<td>
							{% if part.status == "Unconfirmed" %}
								<span class="label label-default">Unconfirmed</span>
							{% elif part.status == "Confirmed" %}
								<span class="label label-success">Confirmed</span>
							{% elif part.status == "Not swimming" %}
								<span class="label label-danger">Not Swimming</span>
							{% endif %}
						</td>
						<td>{{ part.choice_count }} ({{ percent }}%)</td>
						<td>
							{% if part.points != None %}
								{{ part.points }}
							{% endif %}
						</td> 
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
			</table>
		</div>
	</div>

{% endif %}

{% endblock %}

