{% extends "rio/base.html" %}

{% block content %}
        <h2>Event: {{ event.name }}</h2>


<h3>Choices:</h3>
{% if entries_open %}
	<p>Everyone's choices will be shown when entries close!</p>
	
	<h3>Available Swimmers:</h3>
		<div class="row">
			<div class="col-md-9">
				<table class="table table-hover">
				<thead>
					<tr>
						<th>Swimmer</th>
						<th>Country</th>
						<th>Season Best</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
				{% for participant in event.participant_set.all %}
					<tr>
						<td>{{ participant.swimmer }}</td>
						<td>{{ participant.swimmer.country }} </td>
						<td>{{ participant.display_time }}</td> 
						<td>
							{% if participant.status == "Unconfirmed" %}
								<span class="label label-default">Unconfirmed</span>
							{% elif participant.status == "Confirmed" %}
								<span class="label label-success">Confirmed</span>
							{% elif participant.status == "Not swimming" %}
								<span class="label label-danger">Not Swimming</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}

				</tbody>
				</table>
			</div>
		</div>
	
{% else %}
	<ul>
	{% for choice in event.choice_set.all %}
	{% if choice.participant %}
	<li><a href="{{ choice.team.get_absolute_url }}">{{ choice.team.name }}</a> | {{ choice.team.user }}: {{ choice.participant.swimmer }} {{ choice.participant.swimmer.country }}</li>
	{% endif %}
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}

<li><a href="{{ team.get_absolute_url }}">{{ team.name }}</a> | {{ team.user }}</li>

