{% extends "rio/base.html" %}

{% block content %}

<h2>Events</h2>

<br>

<div class="row">
	<div class="col-md-5">
  		<ul class="list-group">
			{% for event in w_event_list %}
				<li class="list-group-item"><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
  	<div class="col-md-5">
  		<ul class="list-group">
			{% for event in m_event_list %}
				<li class="list-group-item"><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>



{% endblock %}