{% autoescape off %}
Hi {{ user }},

{{ text }}

Congratulations to Bingo (Mindy) for coming top overall with 131 points and 22 correct golds! It was very close with UBMSAC (Mesk) 2nd on number of correct golds (131pts, 21 golds) and Mr. Scallops (Jeffs09) 3rd (130pts, 23 golds).

Thanks a lot for taking part - we hope you enjoyed it as much as we did. We're planning to expand and improve on the way to Tokyo in 2020, hopefully with competitions for the World Championships next year and 2019! 

If you have any comments or feedback, please get in touch by replying to this email or through www.fantasyswimming.co.uk/rio/contact/.

www.fantasyswimming.co.uk

{% endautoescape %}