{% extends "rio/base.html" %}

{% block content %}
        <h1>Welcome to Fantasy Swimming Rio!</h1>
        
        {% if entries_open %}
        <h2>Entries are open</h2>
        {% else %}
        <h2>Entries are now closed</h2>
        {% endif %}
        
        {% if user.is_authenticated %}
			{% if not user.team and entries_open %}
			<a href="{% url 'team_new' %}">Create team</a>
			{% endif %}
		{% elif entries_open %}
			<h3>Login or Register!</h3>
			<a href="{% url 'login' %}">Login</a> |
	        <a href="{% url 'register' %}">Register</a>
	    {% else %}
	    	<h3>Login!</h3>
			<a href="{% url 'login' %}">Login</a>
		{% endif %}


{% if entries_open %}
	<h3>Entered teams</h3>
	{% if team_list %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Team</th>
				<th>User</th>
				<th>Complete?</th>
			</tr>
		</thead>
		<tbody>
		{% for team in team_list %}
			{% if user and team.user == user %}
				<tr class="info">
			{% else %}
				<tr>
			{% endif %}
					<td><a href="{{ team.get_absolute_url }}">{{ team.name }}</td>
					<td>{{ team.user }} </td>
					<td>
						{% if team.complete %}
							<span class="glyphicon glyphicon-ok"></span>
						{% else %}
							<span class="glyphicon glyphicon-remove"></span>					{% endif %}
						</td>
				</tr>
		{% endfor %}

		</tbody>
	</table>

	{% else %}
		<p>No teams yet!</p>
	{% endif %}

{% else %}



{% endif %}

{% endblock %}