{% extends "rio/base.html" %}

{% block content %}

<div class="jumbotron">
	<h2>Welcome to Fantasy Swimming Rio!</h2>
	{% if entries_open %}
		<p>Entries are <strong>open</strong></p>
	{% else %}
		<p>Entries are now <strong>closed</strong></p>
	{% endif %}
	<p>
		<a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
		{% if entries_open %}
			<a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a>
		{% endif %}
	</p>
</div>

<blockquote>
	<p class="lead">
		Make <b>gold medal predictions</b> for each swimming event at Rio...
	</p>
	<p class="lead">
		And <b>score points</b> depending on how your choices do!
	</p>
</blockquote>

{% endblock %}