{% extends "rio/base.html" %}

{% block content %}

<div class="jumbotron">
	<h2>Welcome to Fantasy Swimming Rio!</h2>
	<p>
	{% if entries_open %}
		Entries are <strong>open</strong><br>
	{% else %}
		Entries are now <strong>closed</strong><br>
	{% endif %}
	<strong>{{ number_teams }}</strong> team{{ number_teams|pluralize }} entered
	</p>
	<p>
		<a class="btn btn-default btn-lg" href="{% url 'login' %}" role="button">Login</a>
		{% if entries_open %}
			<a class="btn btn-default btn-lg" href="{% url 'register' %}" role="button">Register</a>
		{% endif %}
	</p>
</div>

<blockquote>
	<p class="lead">
		Make <b>gold medal predictions</b> for each swimming event at Rio...
	</p>
	<p class="lead">
		And <b>score points</b> depending on how your choices do!
	</p>
</blockquote>
<blockquote>	
	<p class="lead">
		Create a <b>league</b> to compete with your friends...
	</p>
	<p class="lead">
		Or just see how you do in the <b>overall standings!</b>
	</p>
</blockquote>

{% endblock %}