{% extends "rio/base.html" %}

{% block content %}
<h2>{{ league.name }} <small>{{ league.creator }}</small></h2>

{% if league.description %}
	<p><big>{{ league.description }}</big></p>
{% endif %}
<p><big><b>Number of teams:</b> {{ league.size }}</big></p>

{% if entries_open %}

	{% if user == league.creator %}
		<p><a href="{% url 'league_edit' league.id %}"><big>Edit league</big></a><p>
	{% endif %}
	{% if user.team and user.team.league != league %}
		<p><a href="{% url 'team_edit' user.team.id %}"><big>Join this league!</big></a><p>
	{% endif %}

	<h3>Teams</h3>
		{% if teams %}
			<div class="row">
				<div class="col-md-8 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Team</th>
								<th>User</th>
							</tr>
						</thead>
						<tbody>
						{% for team in teams %}
							{% if team.user == user %}
								<tr class="info">
							{% else %}
								<tr>
							{% endif %}
									<td><a href="{{ team.get_absolute_url }}">{{ team.name }}</td>
									<td>{{ team.user }} </td>
								</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		{% else %}
			<p><big>No teams yet!</big></p>
		{% endif %}


{% else %}
	<br>
	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
    	{{ progress }}%
  		</div>
	</div>
	
	<h3>League Table</h3>
	<div class="row">
		<div class="col-md-10 table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Position</th>
						<th>Team</th>
						<th>User</th>
						<th>Points</th>
						<th>Correct Golds</th>
					</tr>
				</thead>
				<tbody>
				{% for rank, team in teams_and_ranks %}
					{% if user and team.user == page_user %}
						<tr class="info">
					{% else %}
						<tr>
					{% endif %}
							<td><b>{{ rank }}.</b></td>
							<td><a href="{{ team.get_absolute_url }}">{{ team.name }}</td>
							<td>{{ team.user }} </td>
							<td>{{ team.points }} </td>
							<td>{{ team.correct_golds }} </td>
						</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endif %}

{% endblock %}

