{% extends "rio/base.html" %}

{% block content %}

<h2>Rules</h2>

<h3>General</h3>

<h4>One team per user</h4>
<li>Entries close when first swimming session starts in Rio.</li>
<li>You can edit your team up until entries close.</li>
<li>Only when entries close, can you view other people's choices.</li>

<h3>Choices</h3>

<h4>Nominate one swimmer per event</h4>

<div class="row">
	<div class="col-md-4">
  		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Position</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Gold</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Silver</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Bronze</td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<li>Joint medals count the same (e.g. if Gold is shared, both swimmers get 5 points).</li>
<li>Initially, the top 50 swimmers from FINA rankings for each event are available for selection (as of {{update_date}}).</li>
<li>When the official start lists are released, this will be updated.</li>


<h3>World Records</h3>

<h4>Nominate three non-relay events</h4>

<div class="row">
	<div class="col-md-4">
  		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Event</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>WR Broken</td>
					<td>5</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<li>Maximum 5 points per event, regardless of how many times WR is broken.</li>


<h3>League</h3>
<li>If teams are level on <strong>points</strong>, then the number of <strong>correct gold medal predictions</strong> will be used to separate them.</li><br>

{% endblock %}