{% extends "rio/base.html" %}

{% block content %}
        <h2>{{ team.name }}</h2>

    {% if user == team.user and entries_open %}
    
    {% if not team.complete %}
    Complete your team!
    {% endif %}
    <a href="{% url 'team_edit' team.id %}">Edit your team</a>
    {% endif %}
    
    
    
    
	<h3>Choices:</h3>

	
{% if user == team.user or not entries_open %}


<table class="table table-hover">
	<thead>
		<tr>
			<th>Event</th>
			<th>Swimmer</th>
			<th>Country</th>
			<th>Confirmed</th>
		</tr>
	</thead>
	<tbody>
	
	{% for choice in team_choices %}
		{% if choice.participant %}
			<tr>
				<td><a href="{{ choice.event.get_absolute_url }}">{{ choice.event }}</a></td>
				<td>{{ choice.participant.swimmer }} </td>
				<td>{{ choice.participant.swimmer.country }}</td> 
				<td>
					{% if choice.participant.status == "N" %}
						<span class="label label-default">Unconfirmed</span>

					{% else %}
						<span class="label label-success">In</span>
					{% endif %}
				</td>
			</tr>
		{% else %}
			<tr>
				<td><a href="{{ choice.event.get_absolute_url }}">{{ choice.event }}</td>
				<td>{{ choice.participant }} </td>
				<td></td> 
				<td></td>
			</tr>
		{% endif %}
	{% endfor %}

	</tbody>
</table>
	
	<ul>
	
	
	<h2>Bonus:</h2>
	
	{% if team.WR_event %}
	<li>World Record Event 1: <a href="{{ team.WR_event.get_absolute_url }}">{{ team.WR_event }}</a></li>
	{% else %}
	<li>World Record Event 1: {{ team.WR_event }}</li>
	{% endif %}
	{% if team.WR_event2 %}
	<li>World Record Event 2: <a href="{{ team.WR_event2.get_absolute_url }}">{{ team.WR_event2 }}</a></li>
	{% else %}
	<li>World Record Event 2: {{ team.WR_event2 }}</li>
	{% endif %}
	{% if team.WR_event3 %}
	<li>World Record Event 3: <a href="{{ team.WR_event3.get_absolute_url }}">{{ team.WR_event3 }}</a></li>
	{% else %}
	<li>World Record Event 3: {{ team.WR_event3 }}</li>
	{% endif %}
	</ul>

{% else %}
	<p>Other people's choices will be shown when entries close!</p>
{% endif %}

{% endblock %}