{% extends "rio/base.html" %}

{% block content %}
        <h1>Create/Edit Team</h1>

        FantasySwimming says: <strong>Create/edit your team!</strong><br />

        <form method="post" action="."
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ edit_form.as_p }}

			{% for choice_form in choice_form_list %}
				<strong>{{ choice_form.event.name }}</strong>
				{{ choice_form.as_p }}
			{% endfor %}
			
			<strong>Bonus: World Record Events</strong>
			{{ edit_formWR.as_p }}
           
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Save" />
        </form>
{% endblock %}