{% extends "rio/base.html" %}

{% block content %}

<h2>Fantasy Swimming Rio!</h2>
<br>
{% if entries_open %}
	<blockquote>
		<p class="lead">Entries are <strong>open</strong></p>
		<p class="lead">{{ start_date|timeuntil }} to go. {{ number_teams }} team{{ number_teams|pluralize }} entered...</p>
		<p class="lead"><strong>NEW:</strong> <a href="{% url 'leagues' %}">Create and join leagues!</a></p>
</blockquote>
{% endif %}

{% if not user.team.name and entries_open %}
	<p class="lead"><a href="{% url 'team_new' %}">Create Team</a></p>
	<br>
{% endif %}

{% if entries_open %}
	<h3>Entered teams</h3>
	{% if team_list %}
	<div class="row">
		<div class="col-md-10 table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Team</th>
						<th>User</th>
						<th>League</th>
					</tr>
				</thead>
				<tbody>
				{% for team in team_list %}
					{% if team.user == page_user %}
						<tr class="info">
					{% else %}
						<tr>
					{% endif %}
							<td><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></td>
							<td>{{ team.user }} </td>
							<td><a href="{{ team.league.get_absolute_url }}">{{ team.league.name }}</a></td>
						</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% else %}
		<p>No teams yet!</p>
	{% endif %}

{% else %}

	<h3><a href="{% url 'overall' %}">View all {{ number_teams }} teams</a></h3>
	<br>
	<!-- ENTER USER'S TEAM PERFORMANCE STATS HERE!!! -->
	<h3>Competition Progress</h3>
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
		{{ progress }}%
	  </div>
	</div>

	<h3>News</h3>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group">	
			{% for item in user_news %}
				{% if item.type == 'summary' %}
					<li class="list-group-item list-group-item-info">
				{% elif item.all_users %}
					<li class="list-group-item list-group-item-danger">
				{% else %}
					<li class="list-group-item">
				{% endif %}
					<strong>{{ item.date }}.</strong> 
					{% if item.type == 'result' %}
						<a href="{{ item.event.get_absolute_url }}">{{ item.event }}</a>:
					{% endif %}
					{{ item.text }}
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

{% endif %}


{% endblock %}