{% extends "rio/base.html" %}

{% block content %}

<h2>Fantasy Swimming Rio!</h2>
<br>
<blockquote>
	{% if entries_open %}
		<p class="lead">Entries are <strong>open</strong></p>
		<p class="lead">{{ start_date|timeuntil }} to go. {{ number_teams }} team{{ number_teams|pluralize }} entered...</p>
		<p class="lead"><strong>NEW:</strong> <a href="{% url 'leagues' %}">Create and join leagues!</a></p>
	{% else %}
		<p class="lead">Entries are now <strong>closed</strong></p>
	{% endif %}
</blockquote>

{% if not user.team.name and entries_open %}
	<p class="lead"><a href="{% url 'team_new' %}">Create Team</a></p>
{% endif %}
<br>

{% if entries_open %}
	<h3>Entered teams</h3>
	{% if team_list %}
	<div class="row">
		<div class="col-md-10 table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Team</th>
						<th>User</th>
						<th>League</th>
<!-- 						<th>Complete?</th> -->
					</tr>
				</thead>
				<tbody>
				{% for team in team_list %}
					{% if team.user == page_user %}
						<tr class="info">
					{% else %}
						<tr>
					{% endif %}
							<td><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></td>
							<td>{{ team.user }} </td>
							<td><a href="{{ team.league.get_absolute_url }}">{{ team.league.name }}</a></td>
							<!-- 
<td>
								{% if team.complete %}
									<span class="glyphicon glyphicon-ok"></span>
								{% else %}
									<span class="glyphicon glyphicon-remove"></span>					{% endif %}
								</td>
 -->
						</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% else %}
		<p>No teams yet!</p>
	{% endif %}

{% else %}

	<!-- ENTER USER'S TEAM PERFORMANCE STATS HERE!!! -->
	<h3>Progress</h3>
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
		{{ progress }}%
	  </div>
	</div>

	<h3>News</h3>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group">	
			{% for item in user_news %}
				<li class="list-group-item"><strong>{{ item.date }}</strong> {{ item.text }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>

{% endif %}


{% endblock %}