{% extends "rio/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h2>Login</h2>
<br>
<div class="row">
	<div class="col-md-6">
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}

			{{ form|crispy }}

			<input class="btn btn-default" type="submit" value="Login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
<br>
<p><a href="{% url 'password_reset' %}">Forgotten username or password?</a></p>

<br>
<h4>Don't have an account? <a href="{% url 'register' %}">Register</a></h4>
{% endblock %}

